html 
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	background-color: #ddd;
	color: #777;
}

input 
{
	padding: 4px;
	border-radius: 4px;
	background-color: #eee;
}

input:focus 
{
	background-color: #eec;
}

a 
{
	color: #777;
}

a:hover
{
	color: #000;
}

.big-textarea
{
	width: 100%;
	max-width: 600px;
	height: 500px;
	background-color: #eee;
}

#red-info 
{
	min-height: 30px;
}

#info 
{
	padding: 20px;
	position: absolute;
	float: right;
	top: 10px;
	right: 10px;
	display: none;
	background-color: #F4DFA0;
	font-family: Tahoma;
	color: #777;
	font-weight: bold;
	border-radius: 4px;
}

#hide-code-frame
{
	display: none;
	height: 500px;
}

#save-file 
{
	margin-top: 16px;
	width: 650px;
	height: 100%;
	float: right;	
	border: 1px solid #ccc;
	background-color: #fff;
}

#test
{
	padding:12px;
	font-family: Tahoma;
	background-color: #ADCFF8;
	border-radius: 4px;
	margin: 10px;
	float: left;
}

#test:hover
{
	cursor: pointer;
}